<div class="header d-flex justify-content-between bg-light">
<nav class="nav">

    <a class="nav-link text-dark" href="{%url 'allemployees' %}">Home</a>
    <a class="nav-link text-dark" href="{%url 'allemployees' %}">All Employees</a>
    <a class="nav-link text-dark" href="{%url 'addemployee' %}">Add Employees</a>

  </nav>
  <ul class="nav justify-content-end">

  
 
    <li class="nav-item">
        <a class="nav-link text-dark" href="{%url 'user_logout' %}">Logout</a>
      </li>
  </ul>
  </div>